<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link href="/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/content/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="/content/Projects.css" rel="stylesheet" type="text/css" />
        {% for sheet in css %}
            <link href="/projects/css/{{ sheet }}.css" rel="stylesheet" type="text/css" />
        {% endfor %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="menu">
            {% include menu.html %}
        </div>
        <div class="contents">
            <div class="menu-arrow"></div>
            {{ content }}
        </div>    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/scripts/nav.js"></script>
        {% for script in scripts %}
            <script src="/projects/scripts/{{ script }}.js" ></script>
        {% endfor %}
    </body>
</html>